*{
    font-family: Helvetica, Arial, Sans-Serif;
    font-weight: 600;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.block-setting
{
    box-shadow: 15px 15px rgba(0, 0, 0, 0.5);
    margin-left :10%;
    background-color: #153241;
    width: 80%;
    border-radius: 10px;
    height: 200px;
}
.s-button{
    padding: 20px;
}
.form-check-label{
    color: rgb(86, 91, 93);
}

.form-control,.form-control:focus{
    background-color: transparent;
    font-weight: 600;
    border: none;
    color: rgb(86, 91, 93);
    margin:10px;
    width: 70%;
}

.form-check-input{
    background-color: #1c485e;
}

.set-col{
    float: left;
    width: 50%;
}
.s-title{
    margin-top: 100px;
    margin-left: 40%;
    font-weight: 600;
    color: rgb(106, 113, 116);;
    
}




